<main>
  <h1>Statistics</h1>
  <div class="statistics mt-5">
    <div class="stat-block">
      <img src="assets/profile/streak.png" alt="streak" style="width: 6rem;">
      <div>
        <small>Current Streak</small>
        <p>{{ streak() }} Days</p>
      </div>
    </div>
    <div class="stat-block">
      <img src="assets/profile/challanges-completed.png" alt="challenges" style="width: 6rem;">
      <div>
        <small>Challenges Completed</small>
        <p>{{ challenges() }}</p>
      </div>
    </div>
    <div class="stat-block">
      <img src="assets/profile/total-exp.png" alt="exp" style="width: 6rem;">
      <div>
        <small>Total EXP Earned</small>
        <p>{{ exp() }}</p>
      </div>
    </div>
  </div>
</main>
