<main>
  <div class="word-of-the-day-wrapper grid">

    @if(isLoading()) {
      <div class="loading-wrapper">
        <ng-lottie [options]="loadingOptions"></ng-lottie>
        <p class="text-center">Generating daily word...</p>
      </div>

    } @else if (!isLoading()) {
    <p-panel class="daily-word col-9 w-30rem ">
      <ng-template pTemplate="header">
        <div class="flex align-items-center gap-2" [dir]="utilHtml.langDirection(language)">
          @if(dailyWord().word !== "") {
            <p-avatar
              [image]="languageIconRecord[language()]"
              size="normal"
              shape="square" />
            <span class="font-bold">
              {{dailyWord().word}}
            </span>
          }
        </div>
      </ng-template>
      @if(dailyWord().word !== "") {
        <p class="mb-2" [dir]="utilHtml.langDirection(translationLanguage)">
        {{dailyWord().definition}}
        </p>
        <p class="font-italic">
          {{dailyWord().example}}
        </p>
        <p [dir]="utilHtml.langDirection(translationLanguage)">
          ({{dailyWord().translation}})
        </p>
      }
    </p-panel>
    }

  </div>
</main>
