<main>
  <div class="word-of-the-day-wrapper flex justify-content-center">

    @if(isLoading()) {
      <div class="loading-wrapper">
        <ng-lottie [options]="loadingOptions"></ng-lottie>
        <p class="text-center">Generating daily word...</p>
      </div>

    } @else if (!isLoading()) {
    <p-panel class="daily-word">
      <ng-template pTemplate="header">
        <div class="flex align-items-center gap-2 text-2xl">
          @if(dailyWord().word !== "") {
            <p-avatar
              [image]="languageIconRecord[language()]"
              size="normal"
              shape="square" />
            <span class="font-bold">
              {{dailyWord().word}}
            </span>
          }
        </div>
      </ng-template>
      @if(dailyWord().word !== "") {
        <p class="mb-2" [class.hebrew-text]="translationLanguage() === 'Hebrew'">
        {{dailyWord().definition}}
        </p>
        <p class="font-italic" [class.hebrew-text]="language() === 'Hebrew'">
          "{{dailyWord().example}}"
        </p>
        <p [class.hebrew-text]="translationLanguage() === 'Hebrew'">
          ({{dailyWord().translation}})
        </p>
      }
    </p-panel>
    }

  </div>
</main>
