:host {
	display: block;
	display: grid;
	place-items: center;
	min-height: 100dvh;
}
.form-wrapper {
	position: relative;
	background-color: #fff;
	width: fit-content;
	display: flex;
  gap: 2rem;
	padding: 6rem 4rem;
	border-radius: 6px;

	& form {
		display: flex;
		flex-direction: column;
		gap: 2rem;

		& h1 {
			color: var(--primary-clr) !important;
		}
	}
}
