<main>
  <div
    class="exp-bar-wrapper"
    pTooltip="Exp: {{totalExp()}} <br/> {{expForNextLevel() - totalExp()}} more for next level"
    tooltipPosition="left"
    [escape]="false"
  >

    <p-progressBar [value]="progressVal()" [ngClass]="'progress-bar-custom'" [style]="{'border-radius': '4px'}">
      <ng-template pTemplate="content">
        <span></span>
      </ng-template>
    </p-progressBar>
  </div>
  <div class="lvl-display-wrapper">
    <img class="lvl-decoration" src="assets/profile/levelCoin.png" alt="exp-bar-decoration">
    <p class="lvl-text">{{level()}}</p>
  </div>
</main>

