<div class="exp-bar-wrapper">

  <p-progressBar [value]="progressVal()" [ngClass]="'progress-bar-custom'" [style]="{'border-radius': '4px'}">
    <ng-template pTemplate="content" let-value>
      <span></span>
    </ng-template>
  </p-progressBar>
</div>
<div class="lvl-display-wrapper">
  <img class="lvl-decoration" src="assets/profile/levelCoin.png" alt="exp-bar-decoration" style="width: 4.5rem;">
  <p class="lvl-text">{{level()}}</p>
<!--  <p class="lvl-text">{{progressVal()}}</p>-->
</div>


