:host {
  display: grid;
  place-items: center;
  min-height: 100dvh;
}

.form-wrapper {
  position: relative;
  background-color: #fff;
  width: fit-content;
  display: flex;
  padding: 0.5rem 0.5rem;
  border-radius: 6px;
}

.img-logo {
  display: flex;
  justify-content: center;
  user-select: none;
  pointer-events: none;
  margin-top: 45%;
  margin-bottom: 15px;
}

//Customizes the header below the GPTalk logo
.text-header {
  font-family: "Inter var", sans-serif;
  color: var(--primary-clr);
  text-align: center;
}

.register-content {
  max-width: 900px;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

//Customizes the floatlabel element's margins
.form-input-group {
  margin-bottom: 26px;
}

//Used to avoid the password field from being larger than regular text inputs
:host ::ng-deep .password-field input{
    width: 15rem;
    font-size: small;

  }

.error-msg {
  margin-top: -15px;
  text-wrap: nowrap;
}

.text-login-link {
  margin-top: 10px;
  font-family: "Inter var", sans-serif;
  text-align: center;
  color: var(--primary-clr);
}

a {
  text-decoration: none;
  color: var(--blue-500);
  transition: all 0.25s ease;

}
a:hover {
  color: #1f58d7;
}

// List of password criteria
.password-notes {
  width: 250px;

  // Highlights valid password criteria
  & li.pass {
    color: var(--blue-400);
  }

  // Highlights invalid password criteria
  & li.fail {
    color: var(--red-400);
  }
}



