.img-logo {
  display: flex;
  justify-content: center;
  user-select: none;
  pointer-events: none;
  margin-top: 45%;
  margin-bottom: 15px;
  //color: #5EA0F1;
  //filter: invert(37%) sepia(92%) saturate(4416%) hue-rotate(218deg) brightness(158%) contrast(89%);
}

//Customizes the header below the GPTalk logo
.text-header {
  font-family: "Inter var", sans-serif;
  color: #4b5563;
  text-align: center;
}

.register-content {
  max-width: 900px;
  margin: 40px auto;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

//Customizes the floatlabel element's margins
.form-input-group {
  margin-bottom: 26px;
}

//Used to avoid the password field from being larger than regular text inputs
:host ::ng-deep .password-field input{
    width: 15rem;
    font-size: small;

  }

////adds hover effects for the navigation buttons at the top of the register form
//.bg-primary {
//  transition: all 0.25s ease;
//}
//.bg-primary:hover {
//  background-color: #2563eb !important;
//}
//
//.surface-border {
//  transition: all 0.25s ease;
//}
//.surface-border:hover {
//  background-color: #d2d9e8 !important;
//}

.error-msg {
  margin-top: -15px;
  text-wrap: nowrap;
}

.text-login-link {
  margin-top: 10px;
  font-family: "Inter var", sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
  color: #2563eb;
  transition: all 0.25s ease;

}
a:hover {
  font-weight: bold;
}

.password-notes {
  width: 250px;

  & li.pass {
    color: var(--blue-400);
  }

  & li.fail {
    color: var(--red-400);
  }
}


