
<form class="register-content flex flex-column md:flex-row" [formGroup]="registerForm">
<!--  LEFT PANEL-->
    <div class="w-3 flex flex-column justify-content-between">
      <div>
        <p-image
          class="img-logo"
          src="/assets/GPTalk_Logo4_no_text.png"
          alt="GPTalk logo"
          width="120" />
        <h4 class="text-header select-none">Create a GPTalk Account</h4>
      </div>
      <p class="text-login-link">Already have an account? <a href="/login">Login</a></p>
    </div>

    <p-divider layout="vertical" styleClass="hidden md:flex"/>
<!--RIGHT PANEL-->
    <p-stepper class="w-9" [(activeStep)]="active">
      <!--  Step 1 - First and Last name-->
      <p-stepperPanel formGroupName="fullName">
        <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
          <button class="bg-transparent border-none inline-flex flex-column gap-2" >
                  <span
                    class="border-round border-2 w-3rem h-3rem inline-flex align-items-center justify-content-center"
                    [ngClass]="{
                          'bg-primary border-primary': index <= active,
                          'surface-border': index > active
                      }"
                  >
                      <i class="pi pi-user"></i>
                  </span>
          </button>

        </ng-template>
        <ng-template pTemplate="content" let-nextCallback="nextCallback">
          <div class="flex flex-column gap-2 mx-auto" style="min-height: 16rem; max-width: 16rem">
            <div class="text-center mt-3 mb-4 text-xl font-semibold">Enter your name</div>

            <div class="formgrid grid justify-content-center">
              <p-floatLabel class="form-input-group">
                <input pInputText name="firstName" id="firstName" autocapitalize="words" pAutoFocus  [autofocus]="true" formControlName="firstName" />
                <label for="firstName">First Name</label>
              </p-floatLabel>
              <p-floatLabel class="form-input-group">
                <input pInputText name="lastName" id="lastName" autocapitalize="words" formControlName="lastName" />
                <label for="lastName">Last Name</label>
              </p-floatLabel>
            </div>

          </div>
          <div class="flex justify-content-end">
            <p-button  (onClick)="submitFullName()" label="Next" icon="pi pi-arrow-right" iconPos="right" />
          </div>
        </ng-template>
      </p-stepperPanel>

      <!--  Step 2 - Username and email-->
      <p-stepperPanel formGroupName="usernameAndEmail">
        <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
          <button class="bg-transparent border-none inline-flex flex-column gap-2" >
                  <span
                    class="border-round border-2 w-3rem h-3rem inline-flex align-items-center justify-content-center"
                    [ngClass]="{
                          'bg-primary border-primary': index <= active,
                          'surface-border': index > active
                      }"
                  >
                      <i class="pi pi-at"></i>
                  </span>
          </button>
        </ng-template>
        <ng-template pTemplate="content" let-nextCallback="nextCallback" let-prevCallback="prevCallback">
          <div class="flex flex-column gap-2 mx-auto" style="min-height: 16rem; max-width: 16rem">
            <div class="text-center mt-3 mb-4 text-xl font-semibold">Enter username and email</div>

            <div class="formgrid grid justify-content-center">
              <p-floatLabel class="form-input-group">
                <input pInputText name="username" id="username" pAutoFocus  [autofocus]="true" formControlName="username" />
                <label for="username">Username</label>
              </p-floatLabel>
              <p-floatLabel class="form-input-group">
                <input pInputText name="email" id="email" formControlName="email" />
                <label for="email">Email</label>
              </p-floatLabel>
            </div>

          </div>

          <div class="flex justify-content-between">
            <p-button (onClick)="prevCallback.emit()" label="Back" severity="secondary" icon="pi pi-arrow-left" />
            <p-button (onClick)="submitUsernameAndEmail()" label="Next" icon="pi pi-arrow-right" iconPos="right" />
          </div>
        </ng-template>
      </p-stepperPanel>

      <!--  Step 3 - Password-->
      <p-stepperPanel formGroupName="passwordAndConfirm">
        <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
          <button class="bg-transparent border-none inline-flex flex-column gap-2">
                  <span
                    class="border-round border-2 w-3rem h-3rem inline-flex align-items-center justify-content-center"
                    [ngClass]="{
                          'bg-primary border-primary': index <= active,
                          'surface-border': index > active
                      }"
                  >
                      <i class="pi pi-key"></i>
                  </span>
          </button>
        </ng-template>
        <ng-template pTemplate="content" let-nextCallback="nextCallback" let-prevCallback="prevCallback">
          <div class="flex flex-column gap-2 mx-auto" style="min-height: 16rem; max-width: 16rem">
            <div class="text-center mt-3 mb-4 text-xl font-semibold">Create a password</div>

            <div class="formgrid grid justify-content-center">
              <p-floatLabel class="form-input-group">
<!--                <p-password class="password-field" name="password" id="password" [toggleMask]="true" autocomplete="new-password" pAutoFocus  [autofocus]="true" formControlName="password" />-->
                <p-password (input)="checkPasswordValidity()" class="password-field" name="password" id="password" [toggleMask]="true" autocomplete="new-password" pAutoFocus  [autofocus]="true" formControlName="password">
                  <ng-template pTemplate="header">
                    <h6>Pick a password</h6>
                  </ng-template>
                  <ng-template class="mb-3" pTemplate="footer">
                    <p-divider />
                    <p class="password-notes mt-2">Password must contain:</p>
                    <ul class="password-notes pl-2 ml-2 mt-3" style="line-height: 1.5">
                      <li [class.pass]="validatorBooleans.hasLowerCase" [class.fail]="!validatorBooleans.hasLowerCase">At least one lowercase letter</li>
                      <li [class.pass]="validatorBooleans.hasUpperCase" [class.fail]="!validatorBooleans.hasUpperCase">At least one uppercase letter</li>
                      <li [class.pass]="validatorBooleans.hasNumber" [class.fail]="!validatorBooleans.hasNumber">At least one number</li>
                      <li [class.pass]="validatorBooleans.correctLength" [class.fail]="!validatorBooleans.correctLength">Between 8 and 100 characters</li>
                    </ul>
                  </ng-template>
                </p-password>
                <label for="password">Password</label>
              </p-floatLabel>
              <p-floatLabel class="form-input-group ">
                <p-password class="password-field" name="password" id="confirmPassword" [feedback]="false" formControlName="confirmPassword" />
                <label for="confirmPassword">Confirm Password</label>
              </p-floatLabel>
              @if (passwordMismatch()) {
                <p-message class="error-msg" severity="warning" [text]="'Passwords do not match'"/>
              }
            </div>
          </div>

          <div class="flex justify-content-between">
            <p-button (onClick)="prevCallback.emit()" label="Back" severity="secondary" icon="pi pi-arrow-left" />
            <p-button type="submit" (onClick)="submitPassword();" label="Finish" [icon]="loading ? 'pi pi-spin pi-spinner' : 'pi pi-check'" iconPos="right" [disabled]="!registerForm.valid" />
          </div>
        </ng-template>
      </p-stepperPanel>

      <!--  Step 4 - "Registration complete" screen-->
      <p-stepperPanel>
        <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
          <button class="bg-transparent border-none inline-flex flex-column gap-2">
                  <span
                    class="border-round border-2 w-3rem h-3rem inline-flex align-items-center justify-content-center"
                    [ngClass]="{
                          'bg-primary border-primary': index <= active,
                          'surface-border': index > active
                      }"
                  >
                      <i class="pi pi-id-card"></i>
                  </span>
          </button>
        </ng-template>
        <ng-template pTemplate="content" let-prevCallback="prevCallback">
          <div class="flex flex-column gap-2 mx-auto" style="min-height: 16rem; max-width: 24rem">
            <div class="text-center mt-3 mb-3 text-xl font-semibold">Account created successfully!</div>
            <div class="text-center">
              <img alt="logo" src="https://primefaces.org/cdn/primeng/images/stepper/content.svg" />
            </div>
            <p-button class="flex justify-content-center mb-4" label="Return To Home Screen" icon="pi pi-home" iconPos="right"/>
          </div>
        </ng-template>
      </p-stepperPanel>
    </p-stepper>

  </form>

