main {
	padding: 3rem 2.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.content {
   & > div {
    margin-top: 0.5rem;
   }
}

.language {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.138);
  border-radius: 8px;
  padding: 0.5rem 1.7rem;

  & div {
    display: flex;
    align-items: center;
    gap: 1rem;

    & p {
      font-size: 1.4rem;
    }
  }

  &:hover {
    background-color: rgba(54, 54, 54, 0.14);
  }
}
