    <div class="sentence-wrapper flex justify-content-center">
      <p style="text-transform: capitalize;">{{exerciseData().question}}</p>
    </div>
    <div class="flex justify-content-center mb-2">
      <textarea
        [dir]="utilHtml.langDirection(lessonLanguage)"
        autofocus
        class="sentence-input-area flex-grow-1 flex-wrap"
        [readOnly]="isDone()"
        id="sentenceInputForm"
        title="Input Field"
        [formControl]="inputForm"
        rows="3"
        cols="30"
        >
      </textarea>
    </div>
    <div class="buttons-group flex">
      @if (!isDone()) {
        <p-button
          id="submitTranslationBtn"
          label="Submit"
          severity="primary"
          (onClick)="inputForm.value ?
          lrn.setExerciseResult(vrf.verifyAnswer(inputForm.value,exerciseData)) : null"/>

        <p-button
          id="hintBtn"
          label="?"
          pTooltip="Get a hint. Will deduct 10 EXP from the exercise's reward."
          tooltipPosition="left"
          severity="info"
          (onClick)="lrn.displayHint()"/>
      }
    </div>

    <div class="hint-wrapper flex justify-content-start mt-2" [dir]="utilHtml.langDirection(lessonLanguage)">
      <p>{{hintText() ? 'Hint: ' + hintText() : ''}}</p>
    </div>
    @if (isDone()) {
      <div class="translation-wrapper flex justify-content-center flex-column text-center "
           [dir]="utilHtml.langDirection(lessonLanguage)"
      >
          <p><b>Translation:</b></p>
          <p>{{exerciseData().question}} means:</p>
          <p>{{exerciseData().answer}}</p>
      </div>
    }
