    <div class="sentence-wrapper flex justify-content-center mb-4">
      <p style="text-transform: capitalize;">{{exerciseData().question}}</p>
    </div>
    <div class="flex justify-content-center">
      <div
        #inputArea
        [contentEditable]="!isExerciseDone()"
        [dir]="utilHtml.langDirection(lessonLanguage)"
        autofocus
        class="sentence-input-area flex-grow-1 flex-wrap"
        id="inputArea"
        title="Input Field"
        (input)="onInput($event)"
        [innerHTML]="highlightedContent"
      >
      </div>
    </div>
    <div class="buttons-group flex mt-2">
      @if (!isExerciseDone()) {
        <p-button
          id="submitTranslationBtn"
          label="Submit"
          severity="primary"
          (onClick)="inputText ?
          submitAnswer() : null"/>

        <p-button
          id="hintBtn"
          label="?"
          pTooltip="Get a hint. Will deduct 10 EXP from the exercise's reward."
          tooltipPosition="left"
          severity="info"
          (onClick)="lrn.displayHint()"/>
      }
    </div>

    <div class="hint-wrapper flex justify-content-start mt-2" [dir]="utilHtml.langDirection(lessonLanguage)">
      <p>{{hintText() ? 'Hint: ' + hintText() : ''}}</p>
    </div>
      <div class="translation-wrapper flex justify-content-center flex-column text-center "
           [style.visibility]="isExerciseDone() ? 'visible' : 'hidden'"
      >
          <p><b>Translation:</b></p>
          <p>{{exerciseData().answer}}</p>
      </div>
