    <div class="match-the-category-wrapper flex justify-content-center flex-row text-center mb-2 gap-4 ">
      <!-- Category 1 container -->
      <div class="p-2 w-15rem drop-column" pDroppable (onDrop)="drop(0)">
        <p class="text-center surface-border border-bottom-1 font-bold">{{exerciseData().cat_a}}</p>
        <ul class="list-none flex flex-column gap-2 p-0 m-0">
          <li
            *ngFor="let word of categoryMatches().cat1"
            class="p-2 border-round shadow-1"
            pDraggable
            (onDragStart)="!isDone() ? dragStart(word) : null"
            (onDragEnd)="dragEnd()">
            {{word}}
          </li>
        </ul>
      </div>

      <!-- Word Bank -->
      <div class="p-2 border-3 surface-border border-round h-auto w-15rem">
        <ul class="list-none flex flex-column gap-2 p-0 m-0">
          <li
            *ngFor="let word of categoryMatches().wordBank"
            class="p-2 border-round shadow-1"
            pDraggable
            (onDragStart)="dragStart(word)"
            (onDragEnd)="dragEnd()">
            {{word}}
          </li>
        </ul>
      </div>

      <!-- Category 2 container -->
      <div class="p-2 w-15rem drop-column" pDroppable (onDrop)="drop(1)">
        <p class="text-center surface-border border-bottom-1 font-bold">{{exerciseData().cat_b}}</p>
        <ul class="list-none flex flex-column gap-2 p-0 m-0">
          <li
            *ngFor="let word of categoryMatches().cat2"
            class="p-2 border-round shadow-1"
            pDraggable
            (onDragStart)="!isDone() ? dragStart(word) : null"
            (onDragEnd)="dragEnd()">
            {{word}}
          </li>
        </ul>
      </div>
    </div>

    <!--  Submit button  -->
    <div class="buttons-group write-sentence-submit-btn flex justify-content-center">
      @if (!isDone()) {
        <p-button
          id="matchTheCategorySubmitBtn"
          label="Submit"
          severity="primary"
          [disabled]="(categoryMatches().wordBank.length !== 0)"
          (onClick)="lrn.setExerciseResult(vrf.verifyCategories(categoryMatches, exerciseData))"/>
      }
    </div>

    @if (isDone()) {
      <div class="answer-wrapper flex flex-column text-center justify-content-center">
        <p>Actual answer:</p>
        <p><b>{{exerciseData().cat_a}}:</b> {{exerciseData().words_a?.join(', ')}}</p>
        <p><b>{{exerciseData().cat_b}}:</b> {{exerciseData().words_b?.join(', ')}}</p>
      </div>
    }
