:host {
	display: block;
	height: 100%;
	padding: 1.5rem 2.5rem;
}

.prompt-btn-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
::ng-deep .prompt-btn {
  background: transparent;
  color: var(--primary-clr);
  border: var(--primary-clr);
  font-size: 1.1rem;
  font-weight: normal;
}

::ng-deep .prompt-btn:hover {
  background: #e3e3e3;
}

.messages-wrapper {
	height: 100%;
	max-height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

  .input {
    box-sizing: border-box;
  }

	.messages {
    flex-grow: 1;
    overflow-y: auto;
    box-sizing: border-box;
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
    max-height: 72dvh;

		& .message {
			max-width: 70%;
		}

		& .user {
			align-self: flex-end;
			background-color: var(--background-over-block-clr) !important;
		}

		& .system {
			align-self: flex-start;
			background-color: var(--green-200);
		}
	}
}

.no-messages {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	& span {
		font-size: 1.5rem;
	}
}

@media (max-width: 1024px) {
  .messages-wrapper {
    height: 100vh;
  }

  ::ng-deep ng-lottie {
    width: 10rem;
  }

  .prompt-btn-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.5rem;
    margin-top: 4rem;
  }
  ::ng-deep .prompt-btn {
    font-size: 0.8rem;
    min-height: 72px;
  }
}
