<!-- TEMPLATES -->

  <!-- FILL IN THE BLANK -->
  <ng-template #fillInTheBlank>
    <div class="exercise-content-wrapper flex justify-content-start gap-3 mb-2">
      <p>{{exerciseData().question}} </p>
      <input
        #inputField
        class="input-field flex-grow-1 flex-wrap"
        [readOnly]="isDone()"
        autofocus
        type="text"
        id="inputForm"
        title="Input Field"
        [value]="isDone() ? exerciseData().answer : ''"
        (blur)="!isDone() ? utilHtml.forceFocus(inputFieldRef) : ''"
        (keyup.enter)="inputForm.value ?
                       setExerciseResult(vrf.verifyAnswer(inputForm.value,exerciseData))
                       : ''"
        [formControl]="inputForm"/>
    </div>

    <div class="buttons-group p-fluid grid-12 gap-2 mb-3">
      @for (choice of exerciseData().choices; track choice) {
        <div class="col-12">
          <p-button
            [styleClass]="
            isDone() ? (
              utilHtml.elemContainsAnswer(choice, exerciseData) ? ( isCorrectAnswer() ? 'btn-correct' : 'btn-actual-correct' )
              :
              'btn-incorrect'
            ) : ''
            "

            id="{{choice}}"
            label="{{choice}}"
            [raised]="true"
            severity="secondary"
            (onClick)="setExerciseResult(vrf.verifyAnswer(choice,exerciseData))"/>
        </div>
      }
    </div>
  </ng-template>

  <!-- TRANSLATE THE WORD -->
  <ng-template #translateWord>
    <div class="exercise-content-wrapper flex justify-content-center gap-3 mb-2">
      <p style="font-size: 36px">{{exerciseData().question}} </p>
    </div>

    <div class="buttons-group p-fluid grid-12 gap-2 mb-3">
      @for (choice of exerciseData().choices; track choice) {
        <div class="col-12">
          <p-button
            [styleClass]="
            isDone() ? (
              utilHtml.elemContainsAnswer(choice, exerciseData) ? ( isCorrectAnswer() ? 'btn-correct' : 'btn-actual-correct' )
              :
              'btn-incorrect'
            ) : ''
            "
            id="{{choice}}"
            label="{{choice}}"
            [raised]="true"
            severity="secondary"
            (onClick)="setExerciseResult(vrf.verifyAnswer(choice,exerciseData))"/>
        </div>
      }
    </div>
  </ng-template>

  <!--  TRANSLATE THE SENTENCE -->
  <ng-template #translateTheSentence>
    <div class="exercise-content-wrapper flex justify-content-center">
      <p>{{exerciseData().question}}</p>
    </div>
    <div class="flex justify-content-center mb-2">
      <textarea
        [dir]="exerciseData().language?.toString() === 'hebrew' ? 'rtl' : ''"
        #inputField
        autofocus
        class="sentence-input-area flex-grow-1 flex-wrap"
        [readOnly]="isDone()"
        id="sentenceInputForm"
        title="Input Field"
        [formControl]="inputForm"
        rows="3"
        cols="30"
        >
      </textarea>
    </div>
    <div class="buttons-group write-sentence-submit-btn flex justify-content-center">
      @if (!isDone()) {
        <p-button
          id="writSentenceSubmitBtn"
          label="Submit"
          severity="primary"
          (onClick)="inputForm.value ?
          setExerciseResult(vrf.verifyAnswer(inputForm.value,exerciseData)) : null"/>
      }
    </div>

    @if (isDone()) {
      <div class="translation-wrapper flex justify-content-center flex-column text-center ">
          <p><b>Translation:</b></p>
          <p>{{exerciseData().question}} means:</p>
          <p>{{exerciseData().answer}}</p>
      </div>
    }

  </ng-template>

  <!--  COMPLETE THE CONVERSATION -->
  <ng-template #completeTheConversation>
    <!--    Chat bubbles-->
    <div class="chat-wrapper flex flex-column  mb-4">
      <div class="bubble left  justify-content-start">
        {{exerciseData().question}}
      </div>

        <div class="bubble right justify-content-end">
          <input
            [dir]="exerciseData().language?.toString() === 'hebrew' ? 'rtl' : ''"
            #inputField
            class="chat-input-field flex-grow-1 flex-wrap"
            [readOnly]="isDone()"
            id="chatInputForm"
            title="Input Field"
            [value]="isDone() ? exerciseData().answer : ''"
            [formControl]="inputForm"
            (keyup.enter)="inputForm.value ?
            setExerciseResult(vrf.verifyAnswer(inputForm.value,exerciseData)) : null"
          />
        </div>
    </div>

    <!--  answer choices  -->
    <div class="buttons-group p-fluid grid-12 gap-2 mb-2">
      @for (choice of exerciseData().choices; track choice) {
        <div class="col-12">
          <p-button
            [dir]="exerciseData().language?.toString() === 'hebrew' ? 'rtl' : ''"
            [styleClass]="
            isDone() ? (
              utilHtml.elemContainsAnswer(choice, exerciseData) ? ( isCorrectAnswer() ? 'btn-correct' : 'btn-actual-correct' )
              :
              'btn-incorrect'
            ) : ''
            "
            id="{{choice}}"
            label="{{choice}}"
            [raised]="true"
            severity="secondary"
            (onClick)="setExerciseResult(vrf.verifyAnswer(choice,exerciseData))"/>
        </div>
      }
    </div>

    @if (isDone()) {
      <div class="translation-wrapper flex justify-content-center">
        <p><b>Translation:</b> {{exerciseData().translation}}</p>
      </div>
    }
  </ng-template>

  <!-- MATCH THE WORDS -->
  <ng-template #matchTheWords>
    <div class="buttons-group p-fluid grid mb-3">
      @for (pair of exerciseData().randomizedWordPairs; track pair; let idx = $index) {
        <div class="col-5 btn-matching-pairs">
          <p-button
            [styleClass]="matchResults()[idx][0] ? 'btn-correct' : ''"
            id="{{pair[0]}}"
            label="{{pair[0]}}"
            [raised]="true"
            severity="secondary"
            (onClick)="!isDone() ? chooseMatch(pair[0], 0) : null"/>
        </div>
        <div class="col-5 col-offset-2 btn-matching-pairs">
          <p-button
            [styleClass]="matchResults()[idx][1] ? 'btn-correct' : ''"
            id="{{pair[1]}}"
            label="{{pair[1]}}"
            [raised]="true"
            severity="secondary"
            (onClick)="!isDone() ? chooseMatch(pair[1], 1) : null"/>
        </div>
      }
    </div>
  </ng-template>

<!-- CONTENT -->
<div class="wrapper">
  @if (!isLessonOver()) {
  <!--    Current lesson  -->
    <div class="heading-wrapper flex justify-content-center mb-4">
      <p>
        {{headingText()}}
      </p>
    </div>

    <ng-template [ngTemplateOutlet]="getTemplate()"></ng-template>

    <div class="buttons-group p-fluid grid-12 gap-2 mb-3">
      <div class="next-btn-wrapper flex justify-content-end">
        @if (isDone()) {
          <p-button id="next-btn" label="Next" severity="primary" (onClick)="setUpNextExercise()"/>
        }
      </div>
    </div>

    <!--  Exercise-specific instructions -->
    @if (!isDone()) {
      <div class="instructions-wrapper flex justify-content-center">
        <!-- bypassSecurity pipe is used to utilize the string's HTML tags if they exist in the string     -->
        <p [innerHTML]="exerciseData().instructions | bypassSecurity"></p>
      </div>
    }
  }
  @else {
  <!--    Results Screen  -->
    <div class="results-wrapper">
      <p>Lesson finished</p>
      <p>Correct answers:</p>
      <p>{{correctAndTotalExercises()[0]}} out of {{correctAndTotalExercises()[1]}}</p>
      <p>Experience points earned:</p>
      <p>50 XP</p>
    </div>
  }

</div>
