@if (lessonLanguage() === Language.NOT_SELECTED && !isLessonOver()) {
    <app-language-select (languageSelectionEvent)="callGenerator($event)"></app-language-select>
} @else {
<div class="wrapper w-full w-10">
  @if(isLoading()) {
    <div class="loading-wrapper">
      <ng-lottie [options]="loadingOptions"></ng-lottie>
      <p class="text-center">Generating lesson...</p>
    </div>

  } @else if (!isLoading()) {
    <!--    Current lesson  -->
    <app-exp-bar></app-exp-bar>
      <!--  Heading  -->
    <div class="heading-wrapper flex justify-content-center text-center mb-4">
      <p>
        {{headingText()}}
      </p>
    </div>

    <!--  Exercise Container  -->
    <ng-container *ngComponentOutlet="currentExercise"></ng-container>

    <!--  Next Button  -->
    <div class="buttons-group p-fluid grid-12 gap-2 mb-3">
      <div class="next-btn-wrapper flex justify-content-end">
        @if (isExerciseDone() && !isLessonOver()) {
          <p-button
            id="next-btn"
            label="Next"
            severity="primary"
            autofocus (onClick)="lrn.setUpNextExercise()"
          />
        }
      </div>
    </div>

    <!--  Exercise-specific instructions -->
<!--    @if (!isExerciseDone()) {-->
      <div class="instructions-wrapper flex justify-content-center">
        <!-- bypassSecurity pipe is used to utilize the string's HTML tags if they exist in the string     -->
        <p
          [innerHTML]="exerciseData().instructions ? exerciseData().instructions : '' | bypassSecurity "
          [style.visibility]="!isExerciseDone() && !isLessonOver() ? 'visible' : 'hidden'"
        ></p>
      </div>
<!--    }-->
  }
</div>
}
