<main *ngIf="myProfile$ | async as myProfile">
	<app-profile-details
		[profile]="myProfile"
		class="profile__details grid-block"
	></app-profile-details>
	<app-profile-statistics
		[streak]="myProfile.streak"
		[challenges]="myProfile.challengesCompleted"
		[exp]="myProfile.totalExp"
		class="profile__statistics grid-block"
	></app-profile-statistics>
	<app-profile-achievements
		[achievements]="myProfile.achievements"
		class="profile__achievements grid-block"
	></app-profile-achievements>
	<app-profile-languages
		[languages]="myProfile.languages"
		class="profile__languages grid-block"
	></app-profile-languages>
	<app-profile-latest-results
		[results]="myProfile.latestResults"
		class="profile__latest-results grid-block"
	></app-profile-latest-results>
</main>
