.sentence-wrapper {
  font-size: var(--t);
}

.fill-in-the-blank-input-field {
  font-family: Poppins, sans-serif;
  font-size: var(--t);
  color: var(--primary-clr);
  background: none;
  border: none;

  &:focus {
    outline: none;
    caret-color: transparent;
  }
}

