.register-content {
  max-width: 600px;
  margin: 40px auto;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.form-input-group {
  margin-bottom: 26px;
}

.form-input-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

//Used to avoid the password field from being larger than regular text inputs
:host ::ng-deep .password-field input{
    width: 15rem;
    font-size: small;
  }

//adds hover effects for the navigation buttons at the top of the register form
.bg-primary {
  transition: all 0.25s ease;
}
.bg-primary:hover {
  background-color: #2563eb !important;
}

.surface-border {
  transition: all 0.25s ease;
}
.surface-border:hover {
  background-color: #d2d9e8 !important;
}

.msg-password-mismatch {
  margin-top: -15px;
}

