<div class="register-content">
  <head id="register-header">
    <title>Create your GPTalk account</title>
  </head>
  <body>
  <h1 class="title">Create a GPTalk Account</h1>
  <form class="form-register" (submit)="printInfo()">
    <label for="firstName">First name:</label>
    <input type="text" autocomplete="on" spellcheck="false" name="firstName" value="" autocapitalize="words" id="firstName" class="form-input" [(ngModel)]="firstName">

    <label for="lastName">Last name:</label>
    <input type="text" autocomplete="on" spellcheck="false" name="lastName" value="" autocapitalize="words" id="lastName" class="form-input" [(ngModel)]="lastName">

    <label for="email">Email:</label>
    <input type="text" spellcheck="false" name="email" value="" id="email" class="form-input" [(ngModel)]="email">

    <label for="userName">Username:</label>
    <input type="text" spellcheck="false" name="userName" value="" id="userName" class="form-input" [(ngModel)]="username">

    <label for="password">Password:</label>
    <input type="password" spellcheck="false" name="userName" value="" id="password" class="form-input" [(ngModel)]="password">

    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" spellcheck="false" name="confirmPassword" value="" id="confirmPassword" class="form-input" [(ngModel)]="confirmPassword">
    @if (firstName) {
      <ng-container>hello</ng-container>
    }
<!--    <ng-container *ngIf="firstName">-->
<!--      <button class="btn-next" type="button">Next</button>-->
<!--    </ng-container>-->
    <button class="btn-register" type="submit">Register</button>
  </form>

  </body>
</div>

