// ngx-toastr
@import 'ngx-toastr/toastr';
@import 'primeicons/primeicons.css';
@layer reset, primeng;

:root {
	--primary-clr: #222831;
	--background-clr: #ededed;
  --background-over-block-clr: #d9d9d9;
  --background-over-block-border-clr: #c1c1c1;
  --background-over-block-text-clr: #c1c1c1;
	--primary-text-clr: #fff;
  --accent-text-clr: #46be52;
	--secondary-text-clr: #222831;
}

@layer reset {
	* {
		margin: 0;
		padding: 0;
	}

	html,
	body {
		height: 100%;
	}

	body {
		margin: 0;
		font-family: Roboto, 'Helvetica Neue', sans-serif;
	}
}
