.language-wrapper {
	align-items: center;
	justify-content: center;

	& h1 {
		text-align: center;
	}
}

.languages {
	margin-top: 1.5rem;
	padding: 4rem;
	display: grid;
	grid-template-columns: auto auto;
	gap: 7rem;

	.language {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		transition: 0.4s;
		cursor: pointer;

		&:hover {
			transform: scale(1.1);
		}

		& span {
			font-size: 1.5rem;
			margin-top: 1.5rem;
		}
	}
}

@media (max-width: 1024px) {
  .language-wrapper {
    height: 100vh;
  }
  .language-wrapper h1 {
    font-size: 1.5rem;
  }
  .languages {
    gap: 2rem;
    padding: 0;
    justify-content: center;
    margin-top: 2rem;

    & .language span {
      margin-top: 0;
    }
  }

  img {
    width: 9rem;
  }
}
